:root {
  --face-color: rgb(0, 0, 0);
  --face-height: 100vh;
  --face-width: 100vw;
  --eye-size: 60vmin;
  --eye-color: rgb(0, 234, 255);
  --eyelid-color: rgb(0, 0, 0);
}

body {
  background-color: white;
  margin: 0px;
  overflow: hidden;
}

.buttons {
  position: relative;
  z-index: 3;
}

.face {
  background-color: var(--face-color);
  margin: auto;
  height: var(--face-height);
  width: var(--face-width);
  position: relative;
  overflow: hidden;
}

.face div {
  position: absolute;
}

.eye {
  background-color: var(--eye-color);
  background:
    linear-gradient(27deg, var(--eye-color) 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, var(--eye-color) 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, var(--eye-color) 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, var(--eye-color) 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #000000 10px, transparent 10px),
    linear-gradient(#000000 25%, #000000 25%, #000000 50%, transparent 50%, transparent 75%, #000000 75%, #000000);
  background-color: #000000;
  background-size: 20px 20px;


  border-radius: 100%;
  height: var(--eye-size);
  width: var(--eye-size);
  bottom: calc(var(--eye-size) / 3);
  z-index: 1;
  transform: rotateX(0);
}

.eye.left {
  left: calc(var(--eye-size) / 3);
}

.eye.right {
  right: calc(var(--eye-size) / 3);
}

.eyelid {
  background-color: var(--eyelid-color);
  height: var(--eye-size);
  width: calc(var(--eye-size) * 1.75);
  z-index: 2;
  transform: rotate(0deg);
}

.eyelid.upper {
  bottom: calc(var(--eye-size) * 1);
  left: calc(var(--eye-size) * -0.375);
}

.eyelid.lower {
  border-radius: 100%;
  bottom: calc(var(--eye-size) * -1);
  left: calc(var(--eye-size) * -0.375);
}
